Code_along_data

In [1]:
import pandas as pd

df = pd.read_csv("lect10_data.csv",skiprows=43)

In [9]:
tables = pd.read_html(
    "https://www.worldometers.info/co2-emissions/co2-emissions-by-country/", index_col=[0])
df_country = tables[0]
print(f"Number of tables found: {len(tables)}")

Number of tables found: 1

In [10]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
Index: 209 entries, 1 to 209
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      209 non-null    object
 1   CO2 Emissions  (tons, 2016)  209 non-null    int64
 2   1 Year  Change               209 non-null    object
 3   Population  (2016)           209 non-null    int64
 4   Per  capita                  209 non-null    float64
 5   Share  of world              209 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 11.4+ KB

In [11]:
df_country = df_country.rename({"Share  of world": "World percentage"}, axis=1)
df_country.head()

,Country,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,World percentage
#,,,,,,
1,China,10432751400,-0.28%,1401889681,7.44,29.18%
2,United States,5011686600,-2.01%,327210198,15.32,14.02%
3,India,2533638100,4.71%,1338636340,1.89,7.09%
4,Russia,1661899300,-2.13%,145109157,11.45,4.65%
5,Japan,1239592060,-1.21%,126993857,9.76,3.47%