In [4]:
import pandas as pd
import os

In [17]:
import pandas as pd
import os

## dfB1 = pd.read_excel("Data/betyg_o_prov_riksnivå.xlsx")
dfR1 = pd.read_excel("Data/riket2023_åk9_np.xlsx")

In [12]:
dfB1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
1,2018/19,112731.0,54667.0,58064.0,112280,54430,57850,110663,53757,56906
2,2019/20,115023.0,55670.0,59353.0,114444,55389,59055,112728,54711,58017
3,2020/21,116359.0,56715.0,59644.0,115710,56394,59316,114136,55721,58415
4,2021/22,120525.0,58513.0,62012.0,119891,58207,61684,117935,57312,60623

In [20]:
dfR1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   8 non-null      object
 1   Unnamed: 1   5 non-null      object
 2   Unnamed: 2   6 non-null      object
 3   Unnamed: 3   5 non-null      object
 4   Unnamed: 4   5 non-null      object
 5   Unnamed: 5   6 non-null      object
 6   Unnamed: 6   5 non-null      object
 7   Unnamed: 7   5 non-null      object
 8   Unnamed: 8   6 non-null      object
 9   Unnamed: 9   5 non-null      object
 10  Unnamed: 10  5 non-null      object
dtypes: object(11)
memory usage: 1.2+ KB

In [21]:
dfR1.isnull()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,True,True,True,True,True,True,True,True,True,True,True
1,False,True,True,True,True,True,True,True,True,True,True
2,False,True,True,True,True,True,True,True,True,True,True
3,False,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True
6,True,True,False,True,True,False,True,True,False,True,True
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False