In [4]:
import pandas as pd

In [15]:
import pandas as pd

## dfB1 = pd.read_excel("Data/betyg_o_prov_riksnivå.xlsx")
dfR1 = pd.read_excel("Data/riket2023_åk9_np.xlsx", skiprows=8)

In [31]:
dfR1 = dfR1.rename(columns={
    "Riket": "Plats",
    "Typ av huvudman": "Huvudman",
    "Totalt": "Totalt (A-F)",
    "Flickor": "Flickor (A-F)",
    "Pojkar": "Pojkar (A-F)",
    "Totalt ": "Totalt (A-E)",
    "Flickor ": "Flickor (A-E)",
    "Pojkar ": "Pojkar (A-E)",
    "Totalt  ": "Totalt (Poäng)",
    "Flickor  ": "Flickor (Poäng)",
    "Pojkar  ": "Pojkar (Poäng)",

    # Add any other columns you want to rename
})
print(dfR1.head())

   Plats    Huvudman  Totalt (A-F)  Flickor (A-F)  Pojkar (A-F)  Totalt (A-E)  \
0  Riket    Samtliga        106941          51864         55077          97.0
1  Riket    Kommunal         84310          40675         43635          96.6
2  Riket     Enskild         22582          11165         11417          98.7
3  Riket  Skolverket            49             24            25         100.0

   Flickor (A-E)  Pojkar (A-E)  Totalt (Poäng)  Flickor (Poäng)  \
0           97.1          97.0            15.7             15.8
1           96.6          96.6            15.4             15.5
2           98.8          98.7            16.9             17.0
3          100.0         100.0            18.5             18.9

   Pojkar (Poäng)
0            15.7
1            15.4
2            16.8
3            18.2

In [39]:
import dataframe_image as dfi



# Save the styled DataFrame to a PNG file
dfi.export(dfR1, "Visualiseringar/A)-Statistic.png")

In [ ]:

print(dfR1.shape)

(4, 11)

In [21]:
dfR1.isnull()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,True,True,True,True,True,True,True,True,True,True,True
1,False,True,True,True,True,True,True,True,True,True,True
2,False,True,True,True,True,True,True,True,True,True,True
3,False,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True
6,True,True,False,True,True,False,True,True,False,True,True
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False