In [12]:
import pandas as pd
import dataframe_image as dfi
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots

df_fertility = pd.read_excel("Data/1.1_OECD_Fertility_rate.xlsx"  ,sheet_name="Chart SF2.1.A",
    usecols="L,N, O, R",
    skiprows=3) 


df_fertility.head(25)

        Unnamed: 11      1970      1995  2021 (↗)
0             Korea  4.530000  1.634000  0.808000
1             Spain  2.900000  1.173000  1.190000
2             Italy  2.425000  1.193000  1.250000
3             Japan  2.130000  1.420000  1.300000
4            Poland  2.200000  1.545000  1.330000
5          Portugal  2.830000  1.409123  1.350000
6         Lithuania  2.400000  1.550000  1.360000
7        Luxembourg  1.980000  1.670000  1.380000
8            Canada  2.331000  1.670000  1.430000
9            Greece  2.400000  1.283412  1.430000
10          Finland  1.825000  1.810000  1.460000
11          Austria  2.290600  1.423100  1.480000
12      Switzerland  2.103530  1.476707  1.510000
13   United Kingdom  2.430000  1.710000  1.530000
14       Costa Rica  4.585000  2.804000  1.533000
15            Chile  3.778000  2.372000  1.537000
16           Norway  2.500000  1.869000  1.550000
17           Latvia  2.020000  1.260000  1.570000
18          Germany  2.030000  1.248900  1.580000
19     OECD average  2.836984  1.766668  1.580892
20          Hungary  1.970000  1.570000  1.590000
21          Belgium  2.250000  1.560000  1.600000
22          Estonia  2.170000  1.380000  1.610000
23      Netherlands  2.572000  1.531000  1.620000
24  Slovak Republic  2.398971  1.522457  1.630000